
.postContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
    margin: 0;
}

div > button{
    background-color: transparent;
    border: none;
    color: black;
}

.btn-primary{
    margin-right: 10px;
}

.bi-heart{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#like{
    background-color: transparent;
}

.bi-heart:hover{
    background-color: red;
}

.btn-primary:hover{
    border-color: red;
}

#delete, #btnIcon, #like{
   margin: 3px;
}

#gutters {
    padding: 0;
}

.popup{
    height: 70vh;
    width: 60vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
}

#cerrar{
color: white;
}

textarea{
    height: 35vh;
    width: 35vw;
    margin-top: 20px;
    background-color: rgb(17, 17, 17);
    color: rgb(239, 237, 237);
    border: none;
}

#btn-salvar{
    height: 5vh;
    width: 10vw;
    margin-top: 15px;
}

#btnIcon{
    margin-left: 8px;
}