
.postContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
    margin: 0;
}

div>button {
    background-color: transparent;
    border: none;
    color: black;
}

.btn-primary {
    margin-right: 10px;
}

.bi-heart {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#like {
    background-color: transparent;
}

.tamano-like{
margin-left: 10px;
}

.bi-heart:hover {
    background-color: red;
}

.btn-primary:hover {
    border-color: red;
}

.profileMisPostes {
    width: 100%;

}

#posts-centro {
    background-color: rgb(6, 182, 79);
    border-left: 1px solid #bdb9b9;
    border-top: 1px solid #bdb9b9;


}

#menu-derecha {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    border-left: 1px solid #bdb9b9;
    border-top: 1px solid #bdb9b9;
}

#menu-izquierdo {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    border-top: 1px solid #bdb9b9;


}

.containerPopup-Button {
    margin: 8px;
}

#cerra {
    color: rgb(248, 248, 248);
}

.linkButton {
    margin-top: 10px;
}

.crearPos:hover,
.linkButton:hover {
    height: 8vh;
    width: 8vw;
    cursor: pointer;
    background-color: rgb(200, 190, 190);
    border-radius: 5px;
    text-align: end;
}

.crearPos {
    color: aliceblue;
}
