
.login-design {
    height: 89.9vh;
    width: 100vw;

    background-color: darkgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowl > input{
    width: 40ch;
    margin: 5px;
    border-radius: 9px;
}

.rowl > .btn-success{
    width: 40ch;
    margin-top: 15px;
}

.rowl{
    background-color: rgb(255, 255, 255);
    border: 10px;
    border-radius: 4px;
    padding: 12ch;
    width: 70ch;
    height: 50ch;
    align-items: center;
    justify-content: center; 
}

p{
    color: rgb(56, 42, 165);
}