
.register-design {
    height: 89.9vh;
    width: 100vw;

    background-color: darkgray;
    background-image: url('../../img/login.jpeg');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowl > input{
    width: 40ch;
    margin: 5px;
    border-radius: 9px;
}

.rowl > .btn-success{
    width: 40ch;
    margin-top: 15px;
}

.rowl{
    background-color: rgb(255, 255, 255);
    border: 10px;
    border-radius: 25px;
    padding: 12ch;
    width: 70ch;
    height: 50ch;
    align-items: center;
    justify-content: center; 
    opacity: 0.7;
}

.btn-login{
    background-color: antiquewhite;
    padding: 1em;
    color: black;
}