
.container-principal{
 height: 90vh;
 width: 100vw;
 background-color: black;
}

.profile-design {
    /* height: 88vh;
    width: 100vw; */
    padding: 2em 1em;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(16, 185, 84);

}

.profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    flex-direction: row;
    background-color: chartreuse;
}

.profile-left {
    width: 50vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2px;
    background-color: rgb(201, 114, 34);
}


.profile-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2px;
    background-color: black;
    color: white;
}

.profile-Seguidores{
margin-inline: 3em;
}

.profile-Siguiendo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-inline: 7em;
}

.profile-posts{
    margin-inline: 7em;
}
