
.container-principal {
    min-height: 90vh;
    width: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.profile-design {
    /* height: 88vh;
    width: 100vw; */
    padding: 2em 1em;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);

}

.profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(242, 7, 7);  /* PARTE VERMELHA DO MEIO DE PERFIL ENTRE DADOS DE USUARIO*/
}

.profile-left {
    width: 50vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2px;
    background-color: rgb(0, 0, 0);
}


.profile-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 2px;
    background-color: rgb(5, 5, 5);
    border: 1px solid #bdb9b9;
    color: white;
}

.profile-Seguidores {
    margin-inline: 3em;
}

.profile-Siguiendo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-inline: 7em;
}

.profile-posts {
    margin-inline: 7em;
}

.profileMisPostes {
    background-color: rgb(6, 6, 6);
    min-height: 59vh;
}

#cerrar{
    color: white;
}
/*          VISTA REDUCIDA                    */

.containerPopup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Asegura que la vista reducida esté encima del contenido principal */
}