.home-Design {
    min-height: 90vh;
    width: 100%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(11, 11, 11);  /* ENTRE POST E DADOS DE USUARIO  */
}
/* Ejemplo de ajuste de tamaño para la pantalla */
.home-top {
    background-color: red;
    width: 98.9vw; /* Utiliza porcentaje en lugar de vw */
    max-width: 1200vw; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el contenedor */
}

.home-top-left {
    background-color: rgb(164, 160, 163);
    width: 98.9vw; /* Ajusta el ancho al 100% */
}

.todosPostes {
    width: 98.9vw; /* Utiliza porcentaje en lugar de vw */
    max-width: 1200vw; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    background-color: rgb(254, 254, 254);
    min-height: 59vh;
    margin: 20px auto; /* Centra el contenedor y agrega espacio entre los elementos */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .home-top {
        flex-direction: column; /* Cambia la dirección de flexbox para apilar elementos en pantallas pequeñas */
    }

    .home-top-left,
    .home-top-right {
        width: 100%; /* Utiliza el ancho completo en pantallas pequeñas */
    }

    .todosPostes {
        width: 100%; /* Utiliza el ancho completo en pantallas pequeñas */
        margin: 10px auto; /* Reduce el espacio entre los elementos en pantallas pequeñas */
    }
}
