.header-design {
  /* min-height: 11vh;
  width: 100vw; */

  /* background-color: darkcyan; */
  /* background-color: rgb(63, 71, 71);

  display: flex;
  justify-content: space-between;
  align-items: last baseline; */

  min-height: 10vh;
  width: 98.9vw;
  border-bottom: 1px solid #999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(63, 71, 71);
  z-index: 999999999;
  
  overflow-x: hidden;
}

.header-wrapper {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator-design {
  display: flex;
  flex-direction: row;
}

.out-design {
  color: white;
  font-weight: bold;
  margin: 1em;
  transition: 0.3s;
  width: 55px;
}

.out-design:hover {
  transition: 0.3s;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  height: 50px;
  width: 400px;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 2cap;
  background-color: rgb(63, 71, 71);
}

.header-center>input {
  border-radius: 0.8cap;
  background-color: rgb(63, 71, 71);

}